<!--<h2>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;Navigation Links as follows&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h2>-->

<!--<sly data-sly-use.model="com.mysite.core.models.importantlinksmodel">-->
<!--    <ul data-sly-list="${model.links}">-->
<!--        <li>-->
<!--            <a href="${item.url}" target="${item.openinnewtab}">${item.title}</a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</sly>-->

<h2>Navigation Links: </h2>

<sly data-sly-use.model="com.mysite.core.models.ImportantLinksModel">
    <ul data-sly-list="${model.links}">
        <sly data-sly-test="${item.option=='_blank'}">
            <li><a href="${item.url}" target="_blank">${item.title}</a></li>
        </sly>
        <sly data-sly-test="${item.option=='_self'}">
            <li><a href="${item.url}" target="_self">${item.title}</a></li>
        </sly>
    </ul>
</sly>



