
<body style="background-color:${properties.color @context='styleString'}">

<sly data-sly-use.logic="logic.js">
<p>${properties.jcr:description @ context='html'}</p>
<div id="one" style="background-color: #dfdf1f">
    <select data-sly-list="${logic.navRoot.listChildren}" name ="colors" onchange="changeColor1(this)">
        <option value="${item.properties.value}">${item.properties.text}</option>
    </select>
</div>
    <div id ="two" style="background-color: #2020e0">
        <select data-sly-list="${logic.navRoot.listChildren}" name ="colors" onchange="changeColor2(this)">
            <option value="${item.properties.value}">${item.properties.text}</option>
        </select>
    </div>
    <p style="font-weight: 50; ">Page bg-color is taken from color property of this current node </p>

    <p>use ${currentNode.Name}'s dialog to set page background color.</p>
    <p>current background color is: ${properties.color}</p><br>
</sly>
<script>
    function changeColor1(opt) {
        document.getElementById("one").style.backgroundColor = opt.value;
    }
    function changeColor2(opt) {
        document.getElementById("two").style.backgroundColor = opt.value;
    }
</script>
</body>
